__pycache__/*
*.odt#
.eggs/*
build/*
.DS_Store
dist/whisper_to_write.app/*
.cache
whisper_to_write.py alias
whisper_to_write.pref
samples_good/*.txt
samples_good/whisper_to_write.pref
root_config.ini
