__pycache__/*
*.odt#
.eggs/*
build/*
.DS_Store
dist/whisper-to-write.app/*
.cache
whisper-to-write.py alias
whisper-to-write.pref
samples_good/*.txt
samples_good/whisper_to_write.pref
root_config.ini
